#includes:
#    - vendor/phpstan/phpstan-strict-rules/rules.neon
#    - vendor/phpstan/phpstan-deprecation-rules/rules.neon

parameters:
    level: 6

    paths:
        - src
#        - tests

    tmpDir: var/cache/phpstan

    excludePaths:
        - var
        - vendor

    treatPhpDocTypesAsCertain: false
